* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Grey-950: hsl(216, 12%, 8%);
    --Grey-900: hsl(213, 19%, 18%);
    --Grey-500: hsl(217, 12%, 63%);
    --White: hsl(0, 100%, 100%);
    --Orange-500: hsl(25, 97%, 53%)
}

body {
    background-color: var(--Grey-950);
    font-family: "Overpass", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.feedback-card {
    background: radial-gradient(#232A34 0%, #181E27 100%);
    border-radius: 20px;
    max-width: 25.75rem;
    padding: 32px;
}

.feedback-card__icon {
    display: flex;
    background-color: var(--Grey-900);
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 24px;
}

.feedback-card__title {
    color: var(--White);
    margin-bottom: 16px;
}

.feedback-card__description {
    color: var(--Grey-500);
    font-size: 15px;
    margin-bottom: 16px;
}

.feedback-card__rating {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 24px;
}

.feedback-card__rating-btn {
    background-color: #262f38;
    color: var(--Grey-500);
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback-card__rating-btn:hover {
    background-color: var(--White);
    color: var(--Grey-950);
}

.feedback-card__rating-btn.selected {
    background-color: var(--Orange-500);
    color: var(--Grey-950);
}


.feedback-card__submit {
    background-color: var(--Orange-500);
    color: var(--White);
    border: none;
    padding: 14px;
    width: 100%;
    border-radius: 24px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.feedback-card__submit:hover {
    background-color: var(--White);
    color: var(--Grey-950);
} 